.elimi-margi{margin: 0px;}
.elimi-padi{padding: 0px;}
body{background-color: rgb(241,241,241)}
nav{background-color:royalblue;height:73px;margin-bottom:30px;}
.prueba{background-color: white;}
.centrar{text-align: center;}
.espaciado{margin-bottom: 30px;}
