<html>
<head>
<title>titulo</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="esti.css" rel="stylesheet">

<style>

body{background-color: rgb(241,241,241)}


.prueba{background-color: white;}

.elimi-padi{padding: 0px;}

hr{
padding: 4px 0px 4px 0px;
margin: 4px 0px 4px 0px;
}

.centrar{text-align: center;}

/* espaciado no se usa en muro pero en el resto si */
.espaciado{margin-bottom: 30px;}
</style>

</head>
<body>

<div class="container-fluid">
<div class="container-fluid">
<nav class="navbar navbar-default" style="background-color: rgb(35,115,180);">
<div class="navbar-header">
<a class="navbar-brand" href="#" style="color:black;">WebSiteName</a>
</div>
</nav>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-8">


{% for pregunta in pregunta %}
<div class="container-fluid espaciado">
<div class="row prueba">
<div class="col-md-1 elimi-padi"><img class="img-responsive" src="{{MEDIA_URL}}/media/{{pregunta.foto}}" alt="Smiley face"></div>
<div class="col-md-11">
<hr>
<p class="centrar">Username: {{pregunta.usuario}} &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; {{pregunta.fecha}}</p>
<hr>
<p class="text-justify">

{% for kk in pregunta.contenido %}
{% if kk.que_es == 'texto' %}</p>
<p>{{kk.contenido}}</p>
{% endif %}
{% if kk.que_es == 'codigo' %}</p>
<pre class="prettyprint">{{kk.contenido}}</pre>
{% endif %}
{% endfor %}

</p>

</div>
</div>
</div>
{% endfor %}





<div class="container-fluid espaciado">
<div class="row prueba">
<div class="col-md-1"></div>
<div class="col-md-10">
<br />

{% for dir in paradireccion %}
<form action="{% url 'grup:cargar_respuesta_grupo' dir.gru dir.idp %}" method="post">{% csrf_token %}
{% endfor %}

<div class="form-group">
<label for="exampleInputPassword1">Respuesta</label>
<textarea id="exampleInputPassword1" class="form-control" name="respuestaGrupo"></textarea>
</div>
<button type="submit" class="btn btn-success">Cargar respuesta</button>
</form>

</div>
<div class="col-md-1"></div>
</div>
</div>




{% if mensaje_no_hay_preguntas == True %}
<div class="container-fluid espaciado">
<div class="row prueba">
<div class="col-md-12"><p class="centrar"><h3>Este grupo no a echo preguntas</h3></p></div>
</div>
</div>
{% endif %}







{% for respuesta in respuesta %}
<div class="container-fluid espaciado">
<div class="row prueba">
<div class="col-md-1 elimi-padi"><img class="img-responsive" src="{{MEDIA_URL}}/media/{{respuesta.foto}}" alt="Smiley face"></div>
<div class="col-md-11">
<hr>
<p class="centrar">Username: {{respuesta.usuario}} &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; {{respuesta.fecha}}</p>
<hr>
<p class="text-justify">

{% for kk in respuesta.contenido %}
{% if kk.que_es == 'texto' %}</p>
<p>{{kk.contenido}}</p>
{% endif %}
{% if kk.que_es == 'codigo' %}</p>
<pre class="prettyprint">{{kk.contenido}}</pre>
{% endif %}
{% endfor %}

</p>

</div>
</div>
</div>
{% endfor %}






</div>
<div class="col-md-4">
<div class="container-fluid">
<div class="row prueba">
<div class="col-md-1"></div>
<div class="col-md-11">

    {% for dir in paradireccion %}
    <p style="margin-top:15px;">NOMBRE DEL GRUPO: {{dir.gru}}</p>
    {% endfor %}
</div>
</div>

    
</div>
</div>
</div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/holder.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>