<html>
<head>
<title>titulo</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
<style>
body{background-color: rgb(241,241,241)}
.prueba{background-color: white;}
.elimi-padi{padding: 0px;}
hr{padding: 4px 0px 4px 0px;margin: 4px 0px 4px 0px;}
.centrar{text-align: center;}
/* espaciado no se usa en muro pero en el resto si */
.espaciado{margin-bottom: 30px;}
</style>
</head>
<body>

<div class="container-fluid">

<div class="container-fluid">
<nav class="navbar navbar-default" style="background-color: rgb(35,115,180);">
<div class="navbar-header">
<a class="navbar-brand" href="#" style="color:black;">WebSiteName</a>
</div>
</nav>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-8">
{% for datosmuro in sqlconsu %}
<div class="container-fluid">
<div class="row prueba">

<div class="col-md-1 elimi-padi"><img class="img-responsive img-thumbnail" src="{{MEDIA_URL}}/media/{{datosmuro.foto}}" alt="Smiley face"></div>
<div class="col-md-11">
<hr>
<p class="centrar">Username: {{datosmuro.usuariopregunta}} &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; Tecnologia: {{datosmuro.preguntalenguaje}} &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; Fecha: {{datosmuro.fecha}}
</p>
<hr>                
<p class="text-justify">{{datosmuro.pregunta_titulo}}</p>
<hr>
<p class="text-justify">

    {% for kk in datosmuro.pregunta %}

    {% if kk.que_es == 'texto' %}</p>
    <p>{{kk.contenido}}</p>
    {% endif %}

    {% if kk.que_es == 'codigo' %}</p>
    <pre class="prettyprint">{{kk.contenido}}</pre>
    {% endif %}

    {% endfor %}</p>
<hr>

<a href="{% url 'pregu:pregupregu' datosmuro.preguntaid %}"><button type="button" class="btn btn-primary">Ir a respuestas</button>
</a>                    
<br />
<br />
</div>
</div>
</div>
<br />
{% endfor %}





{% if ver_numerador == True %}
<div class="container-fluid">
<div class="row prueba">
<div class="col-md-5"></div>
<div class="col-md-7">

<nav>
  <ul class="pagination">
<li>{% if pag.pag != 1 %}<a href="{% url 'muro:muromuro' pag0.pag0 %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>{% endif %}</li>
<li><a href="#">{{pag.pag}}</a></li>
<li>{% if pag2.pag2 != pag.pag %}<a href="{% url 'muro:muromuro' pag2.pag2 %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>{% endif %}</li>
</ul>
    </nav>

</div>
</div>
</div>
{% endif %}


{% if hay_preguntas == True %}
<div class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span>
Ve a tus preferencias y elije una tecnologia para poder ver y realizar preguntas sobre la misma.
</div>
{% endif %}


























</div>
<div class="col-md-4">
<div class="container-fluid">
<div class="row prueba">




<div class="col-md-4 elimi-padi">
{% for datosuser in sqlconsu2 %}
<img class="img-responsive img-thumbnail" src="{{MEDIA_URL}}/media/{{datosuser.foto}}" alt="Smiley face">
</div>
<div class="col-md-8">
<p>Nombre: {{datosuser.nombre}}</p>
<p>Apellido: {{datosuser.apellido}}</p>
<p>Username: {{datosuser.username}}</p>
{% endfor %}
<p>Nacionalidad: Uruguay</p>
</div>





</div>
<br />
<div class="row prueba">
<div class="col-md-1"></div>
<div class="col-md-3"><img src="holder.js/50x50/sky"></div>
<div class="col-md-6"><p style="margin-top:15px;">TRAYECTORIA</p></div>
</div>
<div class="row prueba">
<div class="col-md-5"></div>
<div class="col-md-7">

{% for infouserr in sqlconsu2 %}
<p><a href="{% url 'perfil:preguntasprivadaspagina' infouserr.username 1 %}">Preguntas [n]</a></p>

<p><a href="{% url 'perfil:respuestasprivadas2' infouserr.username 1 %}">Respuestas [n]</a></p>

{% endfor %}

</div>
</div>
    <br />

</div>
</div>
</div>
</div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/holder.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>